$md-max: 1270px;
$sm-max: 767px;

* {
  box-sizing: border-box;
}
body {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #6426b0;
  background: linear-gradient(pink, #489870, pink);
  @media screen and (max-width: $md-max) {
    font-size: 16px;
  }
  @media screen and (max-width: $sm-max) {
    font-size: 14px;
  }
}
ul, li, p {
  margin: 0;
  padding: 0;
  list-style: none; }

a {
  color: inherit;
  text-decoration: none; }
img {
  width: 100%;
  max-width: 100%;
  vertical-align: middle;
}
button {
  border: none;
  cursor: pointer; }

h1, h2, h3, h4 {
  margin: 0; }

section {
  margin-top: 90px;
  @media screen and (max-width: $md-max) {
    margin-top: 60px;
  }
  @media screen and (max-width: $sm-max) {
    margin-top: 30px;
  }
}
.wrapper {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  @media screen and (max-width: $md-max) {
    width: 768px;
  }
  @media screen and (max-width: $sm-max) {
    width: 375px;
  }
}
h1 {
  font-weight: 700;
  font-size: 55px;
  @media screen and (max-width: $md-max) {
    font-size: 45px;
  }
  @media screen and (max-width: $sm-max) {
    font-size: 35px;
  }
}
h2 {
  font-size: 40px;
  font-weight: 700;
  @media screen and (max-width: $md-max) {
    font-size: 30px;
  }
  @media screen and (max-width: $sm-max) {
    font-size: 22px;
  }
}
.btn {
  font-weight: 700;
  font-size: 22px;
  color: white;
  padding: 15px 25px;
  border-radius: 5px;
  background-color: #FFD700;
  transition: .3s ease-in-out;
  @media screen and (max-width: $md-max) {
    font-size: 20px;
    padding: 10px 20px;
  }
  @media screen and (max-width: $sm-max) {
    font-size: 18px;
    padding: 5px 10px;
  }
  &:hover {
    background-color: #c2a50e;
    transition: .3s ease-in-out;
  }
}
.compound-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  + .compound-item {
    margin-top: 30px;
    @media screen and (max-width: $md-max) {
      margin-top: 20px;
    }
  }
  img {
    background-color: white;
    border-radius: 50%;
    width: 30px;
    height: 25px;
    margin-bottom: 15px;
    @media screen and (max-width: $md-max) {
      margin-bottom: 10px;
    }
  }
}
